<nav id="navbar-main" class="navbar admin-navbar">
    <div class="navbar-brand">
        <!-- Mobile Sidebar Toggle -->
        <a
            class="navbar-item is-hidden-desktop"
            @click="$store.sidebar.toggleMobile()"
            role="button"
            tabindex="0"
        >
            <span class="icon">
                <i
                    class="mdi mdi-24px"
                    :class="$store.sidebar.mobileOpen ? 'mdi-backburger' : 'mdi-forwardburger'"
                ></i>
            </span>
        </a>
        <div id="mobile-title" class="navbar-item is-hidden-desktop">
            <p>My App</p>
        </div>
        <!-- Search Bar (Hidden on Mobile) -->
        <div class="navbar-item has-control">
            <div class="control">
                <!--input placeholder="Search everywhere..." class="input" /-->
            </div>
        </div>
        <a
            class="navbar-item is-hidden-desktop"
            @click="$store.nav.menuOpen = !$store.nav.menuOpen"
            role="button"
            tabindex="0"
            :aria-expanded="$store.nav.menuOpen"
        >
            <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
        </a>
    </div>
    <div class="navbar-menu" :class="{ 'is-active': $store.nav.menuOpen }">
        <div class="navbar-end">
            <div
                class="navbar-item has-dropdown has-dropdown-with-icons has-divider"
                x-data="{ open: false }"
                @click.away="open = false"
                :class="{ 'is-active': open }"
            >
                <a
                    class="navbar-link is-arrowless"
                    @click="open = !open"
                    role="button"
                    tabindex="0"
                >
                    <span class="icon"><i class="mdi mdi-menu"></i></span>
                    <span>Menu</span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
                </a>
                <div class="navbar-dropdown">
                    <a href="/admin/pages/home" class="navbar-item">
                        <span class="icon">
                            <i class="mdi mdi-account"></i>
                        </span>
                        <span>Profile</span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon">
                            <i class="mdi mdi-settings"></i>
                        </span>
                        <span>Settings</span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon"><i class="mdi mdi-email"></i></span>
                        <span>Messages</span>
                    </a>
                    <hr class="navbar-divider" />
                    <a class="navbar-item">
                        <span class="icon"><i class="mdi mdi-logout"></i></span>
                        <span>Log Out</span>
                    </a>
                </div>
            </div>
            <div
                class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar"
                x-data="{ open: false }"
                @click.away="open = false"
                :class="{ 'is-active': open }"
            >
                <a
                    class="navbar-link is-arrowless"
                    @click="open = !open"
                    role="button"
                    tabindex="0"
                >
                    <div class="is-user-avatar">
                        <img
                            src="https://api.dicebear.com/9.x/pixel-art/svg"
                            alt="Admin User"
                        />
                    </div>
                    <div class="is-user-name"><span>Admin</span></div>
                    <span class="icon">
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
                </a>
                <div class="navbar-dropdown">
                    <a href="/admin/pages/home" class="navbar-item">
                        <span class="icon">
                            <i class="mdi mdi-account"></i>
                        </span>
                        <span>Profile</span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon">
                            <i class="mdi mdi-settings"></i>
                        </span>
                        <span>Settings</span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon"><i class="mdi mdi-email"></i></span>
                        <span>Messages</span>
                    </a>
                    <hr class="navbar-divider" />
                    <a class="navbar-item">
                        <span class="icon"><i class="mdi mdi-logout"></i></span>
                        <span>Log Out</span>
                    </a>
                </div>
            </div>
            <!-- Theme Toggle -->
            <a
                class="navbar-item"
                @click="$store.theme.toggle()"
                role="button"
                tabindex="0"
            >
                <span class="icon">
                    <i class="mdi mdi-theme-light-dark"></i>
                </span>
            </a>
        </div>
    </div>
</nav>
