<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Argus Admin - Dashboard</title>

    <!-- Material Design Icons -->
    <link
        rel="stylesheet"
        href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
    />

    <!-- HTMX -->
    <script
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous"
    ></script>

    <!-- Alpine.js -->
    <script
        src="https://unpkg.com/alpinejs@3.15.8/dist/cdn.min.js"
        defer
    ></script>

    <!-- Bulma CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/main.css" />

    <!-- Google Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito"
        rel="stylesheet"
        type="text/css"
    />
</head>
