{% block title %}
<div class="level">
    <div class="level-left">
        <div class="level-item">
            <div class="title">
                <h1 class="title">Barcode Scanner</h1>
                <p class="subtitle is-size-7 has-text-grey">
                    AR-assisted QR &amp; barcode scanning
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block hero %}
<div class="hero-body">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">AR Barcode Scanner</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
{% include "pages/scanner_partial.html" %}
{% endblock %}
